.dropZone{
    background: $backgroundDark;
    width: $menuWidthDesktop;
    height: $menuWidthDesktop;
    margin: 0 auto;
    border: 3px dashed #CCC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropZone.hidden {
    display: none;
    visibility: hidden;
}

.dropZone .uploadIcon {
    background: url('../images/uploadPlus.png');
    height: 160px;
    width: 160px;
    margin: 2rem;
}

.dropZoneActive{
    background: $backgroundMedium;
}

.progressWrapper, .progress {
    height: 12px;
}

.progressWrapper {
    width: 200px;
    background: $backgroundMedium;
    margin-top: 1rem;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid $backgroundLight;
    opacity: 0;
}

.progressWrapper.visible {
    opacity: 1;
}

.progress {
    width: 10px;
    background: $accent;
    transition: width 0.4s ease-in-out 0.4s, opacity 0.4s ease-in-out 0s;
}