@media screen and (max-width: 1380px) {

    header, footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li:last-of-type a {
        margin-right: 0;
    }

    nav ul {
        padding: 0;
        margin-top: 2rem;
    }

    .sampleWrapper.fullView {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sampleWrapper.fullView .sample {
        width: calc(480px - 6rem);
    }

    .fullView .sampleColour {
        justify-content: flex-start;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 767px) {

    header .logo {
        max-width: 350px;
        width: 100%;
    }

    .wrapper {
        width: 100%;
    }

    main {
        padding: 2rem 0;
        text-align: center;
    }

    main form {
        width: 90%
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 0 2rem;
    }
    .schemeWrapper {
        margin: 1rem 0;
    }

    .schemeWrapper {
        margin: 1rem 0;
    }
    
    .schemeWrapper .imageWrapper {
        width: 280px;
        height: 280px;
    }

    .sampleWrapper.fullView .sample {
        width: 280px;
    }

    .fullView .sampleColour {
        justify-content: center;
    }

    nav, 
    nav ul, 
    nav ul li, 
    nav ul li a,
    nav ul li button {
        text-align: center;
        width: 100%;
    }

    nav ul {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
    }
    
    nav ul li {
        margin-top: 0.5rem;
    }

    nav ul li a {
        display: block;
    }

    header {
        padding: 2rem 1rem;
    }
}