@media screen and (max-width: 767px) {

    header, footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 100%;
    }

    main {
        padding: 2rem 0;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .schemeWrapper {
        margin: 1rem 0;
    }

    .schemeWrapper {
        margin: 1rem 0;
    }

    nav ul li {
        margin-top: 2rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}