$primary: #05AC4C;
$backgroundDark: rgb(235, 235, 235);
$backgroundMedium: rgb(240, 240, 240);
$backgroundLight: rgb(255, 255, 255);
$menuWidthDesktop: 480px;
$inputTransition: background 0.2s ease-in-out;